# Ignore compiled output
/dist
alerts-api/dist

# Ignore macOS Finder files
src/.DS_Store
.DS_Store

# Ignore dependencies
/node_modules
alerts-api/node_modules

# Ignore log files
*.log

# Ignore environment files
.env
.env.local
.env.*.local